/*主體=========================================================*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-size: cover; /* 调整图片大小以覆盖整个背景 */
    background-repeat: no-repeat; /* 防止图片重复平铺 */
    background-color: #000000; /* 白色背景作为备用 */
  }

  select {
    position: fixed; /* 設定為固定定位 */
    top: 0; /* 與視窗頂部的距離為0 */
    right: 0; /* 與視窗右邊的距離為0 */
    padding: 5px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  #languageSelect {
    position: absolute;
    top: 7px; /* 距離頂部的距離 */
    right: 7px; /* 距離右邊的距離 */
    width: 100px; /* 控制按钮的宽度 */
    height: 30px; /* 控制按钮的高度 */
  }

  #BKtSelect {
    position: absolute;
    top: 7px; /* 距離頂部的距離 */
    right: 120px; /* 距離右邊的距離 */
    width: 100px; /* 控制按钮的宽度 */
    height: 30px; /* 控制按钮的高度 */
  }


  .nav {
    width: 550px; /* 控制按钮的宽度 */
    height: 50px; /* 控制按钮的高度 */
    background-color: #70a3d2;
    border: 5px solid #ffffff;
    border-radius: 10px;
    position: fixed; /* 使用固定定位 */
    top: 7px; /* 顯示在視窗最上方 */
    left: 7px;
    z-index: 1000;
    display: flex; /* 使用 flexbox 布局 */
    flex-direction: column; /* 垂直方向排列 */
    justify-content: center; /* 垂直方向居中对齐 */
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    border-radius: 10px;
    border-right: 7px solid #ffffff; /* 添加垂直分隔边框 */
    padding-right: 10px; /* 可以根据需要调整间距 */
    border-radius: 0px ;
}

.nav li:last-child {
    border-right: none; /* 最后一个选项去掉右边框 */
}

.nav a {
    text-decoration: none;
    color: #000000;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: -20%;
    background-color: #f4c283;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* 提高z-index層級，使其顯示在選單之上 */
}

.nav li:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 10px;
}

.dropdown li:hover {
    background-color: #f0f0f0;
    border-radius: 20px;
}

.dropdown li:last-child {
    border-right: 7px solid #ffffff; /* 添加垂直分隔边框 */
}

.dropdown a {
    color: #000000;
}

#home-button.btn,
#home-button.btn:hover,
#home-button.btn:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    background: #70a3d2;
    color: #ffffff;
    font-size: 2rem;
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    left: 1225px; /* 将元素移到右边距离父元素的右边7像素 */
    bottom: -310px; /* 将元素移到底边距离父元素的底边7像素 */
}

#home-button.btn:hover {
    box-shadow: 0 0 1px 9px rgba(244, 194, 131, 0.4), 0 0 1px 15px rgba(244, 194, 131, 0.1), 0 0 1px 19px rgba(244, 194, 131, 0.1);
}

/*商標=========================================================*/
.title-png {
    max-width: 250px; /* 设置图像的最大宽度 */
    max-height: 170px; /* 设置图像的最大高度 */
  }

  .rectangle {
    width: 955px; /* 控制宽度 */
    height: 600px; /* 控制高度 */
    background-color: #ffffff; /* 白色长方形背景 */
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 20); /* 添加阴影效果 */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    z-index: 9999;
  }
